body {
    font-family: monospace;
    font-size: 16px;
    padding-top: 20px;
}

.family-tree {
    padding-left: 0;
    padding-top: 20px;
}

.family-tree li {
    list-style-type: none;
    padding-bottom: 5px;
}

.name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.current {
    font-weight: bold;
}

.person-summary {
    border-left: 1px solid #ccc;
    padding-left: 50px;
}
